body {
    margin: 5px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

#p01 {
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#p01:hover {
    color: blue;
    font-family: cursive;
}